logo{

}

#body{
    background-color: #ebeff5;
}

#total-order{
    background-color: #4cb4c7;
}

#Orders-delivered{
    background-color: #7abecc;
}

#order-pending{
    background-color: #7cd1cb;
}